<!-- Menu -->
<nav>
    <a class="tab" routerLink="/login" routerLinkActive="active">Login</a>

    <!-- Only show other tabs if logged in -->
    <span *ngIf="(ready | async) == 1">
        <a class="tab" routerLink="/products" routerLinkActive="active">Products</a>
        <a class="tab" routerLink="/bases" routerLinkActive="active">Bases</a>
        <a class="tab" routerLink="/offer_types" routerLinkActive="active">Offer Types</a>
        <a class="tab" routerLink="/generate" routerLinkActive="active">Generate</a>
    </span>
</nav>

<!-- All screens get replace on this tag bellow -->
<div id="content">
    <router-outlet></router-outlet>
</div>
