export SPREADSHEET_ID=
export GCS_BUCKET_NAME=
export GCP_REGION=europe-west1
export GCP_ZONE=europe-west1-b
export GCR_URL=gcr.io
export VIDEO_GENERATOR_REPLICAS=1
export VIDEO_GENERATOR_NODES=1
export VIDEO_GENERATOR_MACHINE_TYPE=e2-standard-2
export DISABLE_SHEET_LOGGING=FALSE
export FRONTEND_CLIENT_ID=
export FRONTEND_API_KEY=
export DESKTOP_CLIENT_ID=
export DESKTOP_CLIENT_SECRET=