mat-form-field, input {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.added_item {
    min-width: 120px;
    display: inline-block;
    padding: 1%;
    margin: 0 1% 1% 0;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #888888;
    border-radius: 5px;
}

mat-icon {
    margin: 5%;
}

#seconds {
    margin: 0 1% 0 1%;
}