mat-form-field, input {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.added_item {
    display: inline-block;
    padding: 2%;
    margin: 0 1% 1% 0;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

mat-icon {
    margin: 5%;
}

#seconds {
    margin: 0 1% 0 1%;
}