<div id="container">
    <div id="products" *ngIf="(ready_state | async) == 1">
        
        <table #table mat-table [dataSource]="list_products() | products_only" class="mat-elevation-z8">
            
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>

                <td mat-cell *matCellDef="let element"> 
                    <span>{{element.title}}</span>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
            
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element">
                    <img src="{{element.image}}" width="100" height="100"/>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="custom">
                <th mat-header-cell *matHeaderCellDef> Custom </th>
                <td mat-cell *matCellDef="let element"> {{element.custom}} </td>
            </ng-container>
            
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                
                <td mat-cell *matCellDef="let element" style="cursor: pointer" (click)="choose_edit(element.id)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                </td>

             </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element" style="cursor: pointer" (click)="delete_product(element)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
             </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: productColumns;"></tr>
            </table>
            
            <br/>
            
            <div id="fields">
                <mat-form-field class="example-full-width">
                    <input #title matInput placeholder="Title">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input #price matInput placeholder="Price">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input #image matInput placeholder="Image Url">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input #custom matInput placeholder="Custom">
                </mat-form-field>
                
                <br/>

                <button mat-stroked-button (click)="add_product(title.value, price.value, image.value, custom.value)">Add Product</button>
            </div>
        </div>
    </div>