<div id="container">
    <div id="products" *ngIf="(ready | async) == 1">
        
        <!--table #table mat-table [dataSource]="products | async" class="mat-elevation-z8">
            
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>

                <td mat-cell *matCellDef="let element"> 
                    <span>{{element.id}}</span>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="values">
                <th mat-header-cell *matHeaderCellDef> Values </th>
                <td mat-cell *matCellDef="let element"> {{element.values}} </td>
            </ng-container>
            
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element" style="cursor: pointer" (click)="delete_product(element)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
             </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: productColumns;"></tr>
        </table-->

        <table>

            <tr>
                <th *ngFor="let header of headers">
                    {{header}}
                </th>
            </tr>
            
            <tr *ngFor="let product of products">
                <td *ngFor="let value of product.values">
                    {{value}}
                </td>
            </tr>

        </table>
            
            <br/>
            
            <div id="fields">
                <mat-form-field class="example-full-width">
                    <input #title matInput placeholder="Title">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input #price matInput placeholder="Price">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input #image matInput placeholder="Image Url">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input #custom matInput placeholder="Custom">
                </mat-form-field>
                
                <br/>

                <button mat-stroked-button (click)="add_product(title.value, price.value, image.value, custom.value)">Add Product</button>
            </div>
        </div>
    </div>