table {
  text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  
  button, mat-form-field {
    margin-left: 1%;
  }

  iframe {
    position: absolute; 
    height: 90%; 
    width: 95%;
    margin: 0 auto;
    border: none;
  }
  
  #fields {
    width: 60%;
    margin: 1% auto;
  }