<div id="container">
    <div id="products" *ngIf="(ready | async) == 1">
        
        <table>
            <tr>
                <th *ngFor="let header of headers | async">
                    {{header}}
                </th>
            </tr>
            
            <tr *ngFor="let product of products | async">
                <td *ngFor="let value of product.values">
                    {{value}}
                </td>
            </tr>
        </table>
            
            <br/>
            
            <div id="fields">
                <mat-form-field class="example-full-width">
                    <input #title matInput placeholder="Title">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input #price matInput placeholder="Price">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input #image matInput placeholder="Image Url">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input #custom matInput placeholder="Custom">
                </mat-form-field>
                
                <br/>

                <button mat-stroked-button (click)="add_product(title.value, price.value, image.value, custom.value)">Add Product</button>
            </div>
        </div>
    </div>