mat-form-field, input {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.added_item {
    display: inline-block;
    padding: 2%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}

#seconds {
    margin: 0 1% 0 1%;
}