#common
SPREADSHEET_ID: ""
GCP_PROJECT_ID: ""
SECRET_ID: "video_generator_auth_token"

#product configs
OFFERS_JSON_FILE_PATH: "gs://pva-deployment-test-1-input/2023_32_offers.json"
MARKETS_CSV_FILE_PATH: "gs://pva-deployment-test-1-input/Marktliste.csv"
RANKING_JSON_FILE_PATH: "gs://pva-deployment-test-1-input/2023_32_ranking.json"
VIDEO_NAME_SUFFIX: "_test"
OFFER_TYPE: "Sparkle"
PRODUCTS_PER_VIDEO: "2"
PRODUCT_SHEET: "Products"
#video configs
INITIAL_VIDEO_STATUS: "Preview"
#video targeting
TARGETING_SHEET: "Targeting"