#common
SPREADSHEET_ID: ""
GCP_PROJECT_ID: ""
SECRET_ID: "video_generator_auth_token"

#product configs
OFFERS_JSON_FILE_PATH: "gs://bucket/path/to/offers.json"
MARKETS_CSV_FILE_PATH: "gs://bucket/path/to/Marktliste.csv"
RANKING_JSON_FILE_PATH: "gs://bucket/path/to/ranking.json"
VIDEO_NAME_SUFFIX: "_test"
OFFER_TYPE: "OfferType"
PRODUCTS_PER_VIDEO: "2"
PRODUCT_SHEET: "Prices"
VIDEO_CONFIGS_SHEET: "Campaigns"
BASES_SHEET: "Bases"
OFFER_TYPES_SHEET: "OfferTypes"
#video configs
# INITIAL_VIDEO_STATUS: "Preview"
INITIAL_VIDEO_STATUS: "On"
#video targeting
CAMPAIGNS_SHEET: "Ads_Campaigns"
ADGROUPS_SHEET: "Ads_Adgroups"
ADS_SHEET: "Ads_Ads"
CONFIGURATION_SHEET: "Configuration"
CAMPAIGN_STATUS: 'Enabled'
ADGROUP_STATUS: 'Enabled'
ADGROUP_ACTION: 'Create'
CAMPAIGN_ACTION: 'Create'
AD_ACTION: 'Add'
ADGROUP_TYPE: 'In-feed video'
AD_TYPE: 'In-feed video ad'
LANDING_PAGE_URL: "https://landing.page.url/subpage"
