mat-form-field, input {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.added_item {
  display: inline-block;
  padding: 1%;
  margin: 0 1% 1% 0;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #888888;
  border-radius: 5px;
}

.added_item .mat-stroked-button {
  width: 100%;
  margin-bottom: 5%;
}

#seconds {
  margin: 0 1% 0 1%;
}