<div class="container">
  
    <!--iframe src="https://drive.google.com/file/d/1wqyZBnMzUVTyM1eL2JpF4csShW4YdHp3/preview" width="200" height="140"></iframe-->
    
    <!-- Choose base video to configure -->
    <div *ngIf="!video_url">
      
      <mat-form-field>
        <mat-label>Base Video</mat-label>
        <mat-select [(ngModel)]="base">
          <mat-option *ngFor="let base of facade.bases$ | async" [value]="base">
            {{base.name}} ({{base.number_of_products ? base.number_of_products : 'No'}} products)
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div id="products_amount" *ngIf="base">
        <div>{{base.number_of_products}} products for this base video</div>
        
        <mat-slider
        *ngIf="base.indexes.length == 0"
        [(ngModel)]="base.number_of_products"
        max="10" min="1" step="1"
        [thumbLabel]="base.number_of_products">
      </mat-slider>
      
      <br/>
      
      <button mat-stroked-button [disabled]="base.number_of_products == 0" (click)="load()">Load video</button>
    </div>
    
  </div>
  
  <!-- Spinner -->
  <mat-spinner *ngIf="video_url && !video"></mat-spinner>
  
  <!-- Configure chosen base video -->
  <div [hidden]="!video">

      <video #vd1 *ngIf="video_url" class="video" (canplay)="on_video_loaded(vd1)" muted>
        <source [src]="video_url" type="video/mp4">
      </video>
      
      <!--div *ngIf=focused_element>
        <br><br>

        <mat-form-field class="example-full-width">
          <input [(ngModel)]="focused_element.x" type="number" matInput>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="focused_element.y" type="number" matInput>
        </mat-form-field>

      </div-->

      <br><br>
      
      <button mat-stroked-button id="play" (click)="play_pause()">Play/Pause</button>
      <br/>

      <button mat-stroked-button id="secondback" (click)="go_seconds_back(1)">Fast Back</button>
      <button mat-stroked-button id="secondback" (click)="go_seconds_back(0.1)">Back</button>
      <span id="seconds">{{seconds}}</span>
      <button mat-stroked-button id="secondforward" (click)="go_seconds_forward(0.1)">Forward</button>
      <button mat-stroked-button id="secondforward" (click)="go_seconds_forward(1)">Fast Forward</button>
      
      <!--button mat-stroked-button id="gotosecond" (click)="go_to_second()">Go to second</!--button-->
      
      <br/><br/>

      <!-- Add New Items -->
      <h2>Add New Item</h2>
      
      <!-- Choose type -->
      <mat-form-field>
        <mat-label>Insert new</mat-label>
        <mat-select [(ngModel)]="current_product.product" (selectionChange)="select_element()">
          <mat-option *ngFor="let item_option of items_options" [value]="item_option.product">
            {{item_option.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- Choose field -->
      <mat-form-field *ngIf="current_product.product != undefined">
        <mat-label>Field to Insert</mat-label>
        <mat-select [(ngModel)]="current_product.field" (selectionChange)="select_field(current_product.field)">
          <mat-option *ngFor="let field_option of field_options" [value]="field_option">
            {{field_option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- Example of content to place on top of video -->
      <mat-form-field *ngIf="current_product.field && contents.length > 0">
        <mat-label>Example</mat-label>
        <mat-select #content (selectionChange)="select_example(content.value)">
          <mat-option *ngFor="let content of contents" [value]="content">
            {{current_product.field == 'image' ? content.content.split('/').pop() : content.content}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <br/>
      
      <!-- Text -->
      <div *ngIf="current_product.field">
        <div *ngIf="['title', 'price', 'custom'].indexOf(current_product.field) >= 0">
          
          <mat-form-field>
            <mat-label>Font</mat-label>
            <mat-select [(ngModel)]="current_product.font">
              <mat-option *ngFor="let f of facade.fonts$ | async | keyvalue" [value]="f.key">
                {{f.key}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <input [(ngModel)]="current_product.color"
          [style.background]="current_product.color"
          [(colorPicker)]="current_product.color"/> 
          
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="current_product.size" type="number" matInput placeholder="size">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="current_product.width" type="number" matInput placeholder="width">
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Align</mat-label>
            <mat-select [(ngModel)]="current_product.align" value="center">
              <mat-option *ngFor="let a of ['center', 'left', 'right']" [value]="a">
                {{a}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="current_product.angle" type="number" matInput placeholder="angle">
          </mat-form-field>
          
          <br/>
          
          <button mat-stroked-button (click)="create_text()">Insert Text</button>
        </div>
        
        <!-- Image -->
        <div *ngIf="current_product.field == 'image'">
          
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="current_product.width" type="number" matInput placeholder="width">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="current_product.height" type="number" matInput placeholder="height">
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Align</mat-label>
            <mat-select [(ngModel)]="current_product.align">
              <mat-option *ngFor="let a of ['center', 'left']" [value]="a">
                {{a}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <br/>
          
          <button mat-stroked-button (click)="create_image()">Insert Image</button>
        </div>
      </div>
      
      <br/>

      <!-- Added Items -->
      <h2>Added Items</h2>
      
      <div *ngIf="base">
        <div class="added_item" *ngFor="let item of added_items | keyvalue">
        
          <p>{{item.key}}</p>
          <p>{{item.value.length}} itens added</p>

          <span style="cursor: pointer" (click)="edit_row(item.key)">
            <mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon>
          </span>

          <span style="cursor: pointer" (click)="delete_row(item.key)">
            <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon>
          </span>

        </div>
      </div>

      <br/><br/>
      
      <button mat-stroked-button (click)="finish()">Save All</button>
      
      <!-- Items on screen -->
      <div *ngFor="let el of text_elements">
        <div 
        id="{{el.id}}" 
        innerHTML={{el.content}}
        draggable="true" 
        [ngStyle]="{
          'color': el.color,
          'font-size': el.size + 'px',
          'font-family': el.font_family,
          'text-align': el.align,
          'position': 'absolute',
          'line-height': el.size * 1.2 + 'px',
          'top': '500px',
          'left': '500px',
          'transform': 'rotate(' + el.angle + 'deg)'
        }"
        >{{el.content}}</div>
      </div>
      
      <div *ngFor="let el of image_elements">
        <img 
        id="{{el.id}}" 
        src={{el.content}}
        width={{el.width}}
        height={{el.height}}
        draggable="true" 
        [ngStyle]="{
          'position': 'absolute',
          'top': '500px',
          'left': '500px',
          'transform': 'rotate(' + el.angle + 'deg)'
        }"/>
      </div>

    </div>
  </div>