<div id="container">
    <div id="auxiliars" *ngIf="(ready_state | async) == 1">
        
        <table #table mat-table [dataSource]="list_products() | auxiliars_only" class="mat-elevation-z8">
            
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element">
                    <img src="{{element.image}}" width="100" height="100"/>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="custom">
                <th mat-header-cell *matHeaderCellDef> Custom </th>
                <td mat-cell *matCellDef="let element"> {{element.custom}} </td>
            </ng-container>
            
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element" style="cursor: pointer" (click)="delete_auxiliar(element)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
            
            <br/>
            
            <div id="fields">
                
                <mat-form-field class="example-full-width">
                    <input #custom matInput placeholder="Custom">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input #image matInput placeholder="Image Url">
                </mat-form-field>
                
                <br/>

                <button mat-stroked-button (click)="add_auxiliar(image.value, custom.value)">Add Auxiliar</button>
            </div>
        </div>
    </div>