  <!-- Input to insert spreadsheet ID -->
  <div *ngIf="ready == -1">

    <h2>Steps to use this solution:</h2>

    <p>1. Create a drive folder, and inside it, create three folders: <b>base_videos, fonts and preview</b></p>
    <p>2. Make a copy of <a href="https://docs.google.com/spreadsheets/d/1piL-0-LrbpZZJ9xG1IY6ZOhktYvQ96hgQnPK4Y4tVac/edit#gid=6031590" target="_blank">this</a> spreadsheet</p>
    <p>3. On field <b>DriveConfigFolder</b> insert the ID of your folder created on step 1</p>
    <p>4. To begin, insert your spreadsheet ID bellow and you're good to go!</p>

    <span><b>Insert your spreadsheet ID to begin:</b></span>
    <br/>
    <input #sheet type="text" size="45" (keyup)="0">
    <br/>
    <input type="button" [disabled]="!sheet.value" value="Start" (click)="login(sheet.value)"/>
  </div>
  
  <!-- Spinner waiting for APIs to return -->
  <div *ngIf="ready == 0">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
  
  <!-- Logged in -->
  <div *ngIf="ready == 1">
    <h2 style="color: green">Logged In</h2>

    <h3>Your spreadsheet is <a target="_blank" href="https://docs.google.com/spreadsheets/d/{{sheet_id}}">here</a></h3>
    
    <p>There you can create <a target="_blank" href="https://docs.google.com/spreadsheets/d/{{sheet_id}}/edit#gid=1565524886">bases</a>, update <a target="_blank" href="https://docs.google.com/spreadsheets/d/{{sheet_id}}/edit#gid=1670058881">products</a> and <a target="_blank" href="https://docs.google.com/spreadsheets/d/{{sheet_id}}/edit#gid=1412792783">static assets</a></p>
    <p>Make sure to upload your bases and fonts to your <a target="_blank" href="https://drive.google.com/corp/drive/u/0/folders/{{drive_folder}}">drive folder</a></p>

    <button mat-stroked-button color="warn" (click)="logout()">Logout</button>
    <button mat-stroked-button color="warn" (click)="reload()">Reload</button>
  </div>