button, input {
    margin-top: 1%;
    margin-right: 0.5%;
}

#pva_logo {
    width: 10%;
}

#sheet_container {
    font-size: 1.2em;
    padding: 1%;
    width: max-content;
    border: 2px solid black;
}

.details {
    font-size: 0.8em;
    font-style: italic;
}

.tab-format {
    margin-top: 1%;
}

.pva-template-note {
    font-size: 80%;
    margin-top: 1%;
}

.error-message {
    color: red;
}