<!-- Screenshots with elements on top -->

<div *ngFor="let s of screenshots">
  <mat-expansion-panel expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>{{s.name}}</b>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngFor="let i of s.images" style="position: relative; margin: 2%">

      <img [src]="i.image"/>

      <app-draggable-element *ngFor="let el of i.elements" [element]="el" (singleclick)="focus_element($event)"
        [video_pos]="pos">
      </app-draggable-element>
    </div>

    <button mat-stroked-button style="margin: 2%" (click)="save_changes(s)">Save changes</button>

  </mat-expansion-panel>

  <!-- Box to edit elements on screen -->
  <app-edit-element-box [element_focused]="element_focused">
  </app-edit-element-box>

</div>

<!-- While loading screenshots -->
<mat-spinner *ngIf="screenshots.length < configs.length" diameter="50" style="margin: 2%"></mat-spinner>