.added_item {
    display: inline-block;
    padding: 2%;
    margin: 0 1% 1% 0;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #888888;
    border-radius: 5px;
}

.ads-fields mat-form-field {
    margin: 1%;
}

.video_box {
    display: inline-block; 
    margin: 0.5%;
    padding: 0.5%;
}

.selected_box {
    background-color: rgba(0, 200, 0, 0.3);
}

.log-line {
    background-color: rgba(0,0,0, 0.1);
    margin-bottom: 3px;
}

.click-icon {
    cursor: pointer;
}

mat-table {
    margin-bottom: 2vh;

    mat-header-cell, mat-cell {
        justify-content: center;
    }

    .mat-column-info, .mat-column-view, .mat-column-delete, .mat-column-download {
        flex: 0 0 6%;
    }
}