[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-cloud-storage = "*"
pytest = "*"
more_itertools = "*"
pytest-mock = "*"
requests = "*"

[requires]
python_version = "3"
