<!-- Menu -->
<nav>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <!--a routerLink="/assets" routerLinkActive="active">Static</a-->
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/bases" routerLinkActive="active">Bases</a>
    <a routerLink="/offer_types" routerLinkActive="active">Offer Types</a>
    <a routerLink="/videos" routerLinkActive="active">Preview</a>
    <a routerLink="/videos/campaigns" routerLinkActive="active">Video Ads</a>
</nav>

<!-- All screens get replace on this tag bellow -->
<div id="content">
    <router-outlet></router-outlet>
</div>