@font-face {
    font-family: ubuntu;
    src: url("../assets/fonts/Ubuntu-Bold.ttf");
}

body {
    font-family: ubuntu;
}

a {
    font-size: 16px;
    vertical-align: middle;
    padding: 1em;
    margin-right: 0.3em;
    text-decoration: none;
    color: #000;
    background-color: #5eaaff;
    border-radius: 5%;
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
}

#content {
    margin: 3% 2%;
}