<div class="container">
  
    <!-- Choose base video to configure -->
    <div *ngIf="!video_url">
      
      <mat-form-field>
        <mat-label>Base Video</mat-label>
        <mat-select [(ngModel)]="base">
          <mat-option *ngFor="let base of bases" [value]="base">
            {{base.name}} ({{base.number_of_products ? base.number_of_products : 'No'}} products)
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div id="products_amount" *ngIf="base">
        <div>{{base.number_of_products}} products for this base video</div>
        
    </div>
    
  </div>
  
  <!-- Configure chosen base video -->
  <div *ngIf="base">

    <h4>Select product</h4>

    <mat-form-field>
      <mat-select #product>
        <mat-option *ngFor="let p of products" [value]="p.id">
          {{p.id}}: {{p.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br/><br/>

    <button [disabled]="current_product == base.number_of_products" mat-stroked-button (click)="add_product(product.value)">Add</button>

    </div>
  </div>