<div class="container">
  
    <!-- Videos already created -->
    <h2>Videos:</h2>
    <button mat-stroked-button (click)="update_video()">Update</button>

    <br/><br/>

    <div style="display: inline-block; margin-right: 1%;" *ngFor="let video of videos | async">

      <span class="added_item" *ngIf="video.generated_video" >
        <video width="300" height="200" controls>
            <source [src]="drive_url + video.generated_video" type="video/mp4">
        </video>

        <span style="cursor: pointer" (click)="delete_video(video)">
          <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon>
        </span>
      </span>

      <span class="added_item" *ngIf="video.status == 'Preview'">
        Generating latest video...
      </span>

    </div>
    
  <!-- Choose base video to configure -->
  <div>
    
    <h2>Select base to use:</h2>
    <mat-spinner *ngIf="(bases | async).length == 0"></mat-spinner>
    
    <div class="added_item" *ngFor="let base of bases | async " (click)="choose_base(base)">
      <p>{{base.title}}</p>
    </div>
    
  </div>
  
  <!-- Configure chosen base video -->
  <div *ngIf="base">
    
    <h2>This base needs {{base.products.length}} products:</h2>
    
    <div class="added_item" *ngFor="let c of configs; let i = index; trackBy: indexTracker">
      
      <!-- Offer Type -->
      <mat-form-field>
        <mat-label>Offer Type</mat-label>
        <mat-select [(ngModel)]="configs[i]">
          <mat-option *ngFor="let type of offer_types | async" [value]="type.configs">
            {{type.title}} - {{type.configs.length}} itens
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <br/><br/>

      <!-- Product -->
      <mat-form-field>
        <mat-label>Product</mat-label>
        <mat-select [(ngModel)]="product_keys[i]">
          <mat-option *ngFor="let product of products | async" [value]="product.id">
            {{product.id}}) {{product.values[0]}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    
    <br/><br/>
    
    <button mat-stroked-button [disabled]="!is_all_filled()" (click)="add_video()">Create Video</button>
    
  </div>
</div>