<div class="container">
  
  <!-- Choose base video to configure -->
  <div *ngIf="!video_url">
    
    <h2>Select base to use:</h2>
    <mat-spinner *ngIf="(bases | async).length == 0"></mat-spinner>
    
    <div class="added_item" *ngFor="let base of bases | async " (click)="choose_base(base)">
      <p>{{base.title}}</p>
    </div>
    
  </div>
  
  <!-- Configure chosen base video -->
  <div *ngIf="base">
    
    <h2>This base needs {{base.products.length}} products</h2>
    
    <div class="added_item" *ngFor="let c of configs">
      
      <!-- Offer Type -->
      <mat-form-field>
        <mat-label>Offer Type</mat-label>
        <mat-select [(ngModel)]="c.configs">
          <mat-option *ngFor="let type of offer_types | async" [value]="type.configs">
            {{type.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <br/><br/>

      <!-- Product -->
      <mat-form-field>
        <mat-label>Product</mat-label>
        <mat-select [(ngModel)]="c.product">
          <mat-option *ngFor="let product of products | async" [value]="product.id">
            {{product.id}}) {{product.values[0]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <br/><br/>
    
    <button mat-stroked-button (click)="add_video()">Create Video</button>
    
  </div>
</div>