<div 
    #html_element
    cdkDrag
    *ngIf="element.view_type == 'text'" 
     id="{{element.id}}" 
     innerHTML={{element.content}} 
     (dblclick)="dblclick.emit(element.id)"
     (click)="singleclick.emit(element)"
     (cdkDragEnded)="dragEnd.emit({event: $event, element: element})"
     [ngStyle]="{
            'top': element.top + 'px',
            'left': element.left + 'px',
            'color': element.color,
            'font-size': element.size + 'px',
            'font-family': element.font_family,
            'text-align': element.align,
            'position': 'absolute',
            'z-index': 'auto',
            'line-height': element.size * 1.2 + 'px',
            'transform': 'rotate(' + (element.flip ? -90 : element.angle) + 'deg)',
            'transform-origin': 'top left',
            'cursor': 'default',
            'user-select': 'none', 
            'visibility': 'hidden'
          }">
        </div>

<div
  #html_element
  *ngIf="element.view_type == 'image'" 
    id="{{element.id}}"
    cdkDrag
    (dblclick)="dblclick.emit(element.id)"
    (click)="singleclick.emit(element)"
    (cdkDragEnded)="dragEnd.emit({event: $event, element: element})"
  [ngStyle]="{
    'top': element.top + 'px',
    'left': element.left + 'px',
    'width': element.width + 'px', 
    'height': element.height + 'px',
    'position': 'absolute',
    'z-index': 'auto',
    'transform': 'rotate(' + (element.flip ? -90 : element.angle) + 'deg)',
    'transform-origin': 'top left',
    'cursor': 'default',
    'user-select': 'none', 
    'visibility': 'hidden'
  }" >
  <img 
     src={{element.content}} 
     [ngStyle]="{
        'width': element.width + 'px', 
        'height': element.height + 'px',
        'border': '1px dotted #ff000045',
        'object-fit': element.keep_ratio ? 'contain' : 'fit'
      }" />
</div>