<div 
    #html_element
    *ngIf="element.view_type == 'text'" 
     id="{{element.id}}" 
     innerHTML={{element.content}} 
     draggable="true"
     (dragstart)="dragstart.emit($event)" 
     (dblclick)="dblclick.emit($event)"
     (click)="singleclick.emit(element.id)"
     [ngStyle]="{
            'top': element.top + 'px',
            'left': element.left + 'px',
            'color': element.color,
            'font-size': element.size + 'px',
            'font-family': element.font_family,
            'text-align': element.align,
            'position': 'absolute',
            'z-index': 100,
            'line-height': element.size * 1.2 + 'px',
            'transform': 'rotate(' + element.angle + 'deg)',
            'visibility': 'hidden'
          }">
        </div>

<div
  #html_element
  *ngIf="element.view_type == 'image'" 
  [ngStyle]="{
    'top': element.top + 'px',
    'left': element.left + 'px',
    'width': element.width + 'px', 
    'height': element.height + 'px',
    'position': 'absolute',
    'z-index': 100,
    'transform': 'rotate(' + element.angle + 'deg)',
    'visibility': 'hidden'
  }" >
  <img 
    id="{{element.id}}"
    draggable="true" 
    (dragstart)="dragstart.emit($event)" 
    (dblclick)="dblclick.emit($event)"
    (click)="singleclick.emit(element.id)" 
     src={{element.content}} 
     [ngStyle]="{
        'width': element.width + 'px', 
        'height': element.height + 'px',
        'object-fit': element.keep_ratio ? 'contain' : 'fit'
      }" />
</div>