<div 
    #html_element
    *ngIf="element.view_type == 'text'" 
     id="{{element.id}}" 
     innerHTML={{element.content}} 
     draggable="true"
     (dragstart)="dragstart.emit($event)" 
     (dblclick)="dblclick.emit($event)"
     [attr.data-config-color]="element.config_color" 
     [ngStyle]="{
            'top': element.top,
            'left': element.left,
            'color': element.color,
            'font-size': element.size + 'px',
            'font-family': element.font_family,
            'text-align': element.align,
            'position': 'absolute',
            'z-index': 100,
            'line-height': element.size * 1.2 + 'px',
            'transform': 'rotate(' + element.angle + 'deg)',
            'visibility': 'hidden'
          }">
        </div>

<img 
    #html_element
    *ngIf="element.view_type == 'image'" 
     id="{{element.id}}" 
     src={{element.content}} 
     width={{element.width}} 
     height={{element.height}}
     draggable="true" 
     (dragstart)="dragstart.emit($event)" 
     (dblclick)="dblclick.emit($event)" 
     [ngStyle]="{
            'top': element.top,
            'left': element.left,
            'position': 'absolute',
            'z-index': 100,
            'transform': 'rotate(' + element.angle + 'deg)',
            'visibility': 'hidden'
          }" />