mat-form-field, input {
    margin: 10px;
    font-size: 18px;
}

.added_item {
    width: 15%;
    display: inline-block;
    padding: 1%;
    margin: 0 1% 1% 0;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #888888;
    border-radius: 5px;
}

mat-icon {
    margin: 5%;
}

.selected_box {
    background-color: rgba(0, 200, 0, 0.3);
}

#seconds {
    margin: 0 1% 0 1%;
}

.asset-container {
    position: relative;
    margin-bottom: 40px;
    z-index: 10;
}

.spinner-element {
    left: 390px;
    top: 395px;
}

.items-on-screen-container {
    margin-bottom: 50px;
}