.added_item {
    display: inline-block;
    padding: 2%;
    margin: 0 1% 1% 0;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #888888;
    border-radius: 5px;
}

.campaign_config {
    margin: 2%;
}

mat-form-field {
    margin-right: 2%;
}

.log-line {
    background-color: rgba(0,0,0, 0.1);
    margin-bottom: 3px;
}