  <!-- Input to insert spreadsheet ID -->
  <div *ngIf="ready == -1">
    <span>Insert your spreadsheet ID to begin:</span>
    <br/>
    <input #sheet type="text" size="45" (keyup)="0">
    <br/>
    <input type="button" [disabled]="!sheet.value" value="Start" (click)="login(sheet.value)"/>
  </div>
  
  <!-- Spinner waiting for APIs to return -->
  <div *ngIf="ready == 0">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
  
  <!-- Logged in -->
  <div *ngIf="ready == 1">
    <h2 style="color: green">Logged In</h2>
    <h3>Your spreadsheet is <a target="_blank" href="https://docs.google.com/spreadsheets/d/{{sheet_id}}">here</a></h3>
    <button mat-stroked-button color="warn" (click)="logout()">Logout</button>
    <button mat-stroked-button color="warn" (click)="reload()">Reload cache</button>
  </div>