<div class="edit_box" *ngIf="element_focused" cdkDrag>

  <div class="aligned_element">
    {{element_focused.field}} ({{element_focused.type}})
  </div>

  <div class="aligned_element">
    <span>{{element_focused.x.toFixed()}}</span>
    <span> | </span>
    <span>{{element_focused.y.toFixed()}}</span>
  </div>

  <!-- Conditions -->
  <div *ngFor="let cond of element_focused.conditions" class="aligned_element small-text">
    <span>When <b>{{cond.key}}</b> = <b>{{cond.value}}</b></span>
    <br/>
    <span>Then <b>{{cond.action}}</b></span>
    <span *ngIf="cond.args"> ({{cond.args}})</span>
  </div>

  <!-- Box to edit text element -->
  <div [hidden]="element_focused.view_type != 'text'">

    <input [(ngModel)]="element_focused.color" [style.background]="element_focused.color"
      [(colorPicker)]="element_focused.color" />

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Font size</mat-label>
      <input [(ngModel)]="element_focused.size" type="number" matInput placeholder="size">
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Width (letters)</mat-label>
      <input [(ngModel)]="element_focused.width" (change)="change_text_width(element_focused)" type="number" matInput
        placeholder="width">
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Align</mat-label>
      <mat-select [(ngModel)]="element_focused.align" value="center">
        <mat-option *ngFor="let a of ['center', 'left', 'right']" [value]="a">
          {{a}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <button mat-stroked-button style="width: 100%" (click)="send_to_back(element_focused)">Send to back</button>

  </div>

  <!-- Box to edit image element -->
  <div [hidden]="element_focused.view_type != 'image'">

    <mat-form-field class="example-full-width">
      <mat-label>Width</mat-label>
      <input [(ngModel)]="element_focused.width" type="number" matInput placeholder="width">
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Height</mat-label>
      <input [(ngModel)]="element_focused.height" type="number" matInput placeholder="height">
    </mat-form-field>

    <br />

    <button mat-stroked-button style="width: 100%" (click)="send_to_back(element_focused)">Send to back</button>

  </div>
</div>