mat-form-field, input {
    margin: 10px;
    font-size: 18px;
}

.edit_box {
    z-index: 11;
    position: fixed;
    top: 25%;
    right: 10%;
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1%;
}

.aligned_element {
    text-align: center; 
    margin-top: 5%; 
    font-weight: bold;
}

.small-text {
    font-size: .8rem
}